!!! 5
%html
  %head
    %title "Sssimulator"
    %script{ :src => "//ajax.googleapis.com/ajax/libs/jquery/1/jquery.js" }
    %script{ :src => "//localhost:3000/assets/iloader.js" }
    %link{ :href => "//localhost:3000/assets/iloader.css", :media => "all", :rel => "stylesheet" }

  %body
    = yield
