!!! 5
%html
  %head
    %title "Sssimulator"
    %script{ :src => "//ajax.googleapis.com/ajax/libs/jquery/1/jquery.js" }
    %script{ :src => "//localhost:3000/assets/s3_uploader_init.js" }
    %script{ :src => "//localhost:3000/assets/image_crop/jquery.color.js" }
    %script{ :src => "//localhost:3000/assets/image_crop/jquery.Jcrop.js" }
    %link{ :href => "//localhost:3000/assets/s3_uploader.css", :media => "all", :rel => "stylesheet" }
    %link{ :href => "//localhost:3000/assets/image_crop/jquery.Jcrop.css", :media => "all", :rel => "stylesheet" }

  %body
    = yield
